{% extends 'products/base.html' %}
{% block content %}
{% load my_tags %}
<div class="text-center container">
    <h2 class="fw-light">Продукты</h2>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row">
        {% for product in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="height: 24rem;" >
           <img class='carg-img-top'
                src="{{product.image|media_filter }}" class="card-img-top col-5" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{product.name|truncatechars:100}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a class = "btn btn-primary" href="{% url 'products:products_detail' product.pk %}" role = 'button'>Посмотреть</a>
                   <a class = "btn btn-primary" href="{% url 'products:products_update' product.pk %}" role = 'button'>Редактировать</a>
                   <a class = "btn btn-primary" href="{% url 'products:products_delete' product.pk %}" role = 'button'>Удалить</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}

